@using SFA.DAS.EmployerIncentives.Web.ViewModels.Apply
@model EmploymentStartDatesViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/apply/join-organisation";
    ViewData["ZenDeskLabels"] = "ei-joinorganisation";

    var showError = Model.DateValidationResults.Any();
}

<a asp-action="SelectApprenticeships" asp-controller="ApplyApprenticeships" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="EmploymentStartDates" method="post">
                @Html.AntiForgeryToken()

                @if (showError)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#EmploymentStartDateDay">@Model.DateValidationResults.First().ValidationMessage</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <div class="govuk-form-group @(showError ? "govuk-form-group--error" : "")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                @Model.Title
                            </h1>
                        </legend>

                        @if (Model.Apprentices.Count == 1)
                        {
                            <p class="govuk-body">
                                @Model.OrganisationName can apply for @Model.ApprenticeName if they have an employment start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 September 2021</span>, applications close on <span class="das-no-wrap">30 November 2021.</span>
                                <br />
                                They must also have an apprenticeship start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 November 2021.</span>
                            </p>
                            <p class="govuk-body">
                                In addition, @Model.OrganisationName can apply for @Model.ApprenticeName if they have an employment start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 January 2022,</span> applications close on <span class="das-no-wrap">31 March 2022.</span>
                                <br />
                                They must also have an apprenticeship start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 March 2022.</span>
                            </p>
                        }
                        else
                        {
                            <p class="govuk-body">
                                @Model.OrganisationName can apply for each apprentice if they have an employment start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 September 2021,</span> applications close on <span class="das-no-wrap">30 November 2021.</span>
                                <br />
                                They must also have an apprenticeship start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 November 2021.</span>
                            </p>
                            <p class="govuk-body">
                                In addition, @Model.OrganisationName can apply for each apprentice if they have an employment start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 January 2022,</span> applications close on <span class="das-no-wrap">31 March 2022.</span>
                                <br />
                                They must also have an apprenticeship start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 March 2022.</span>
                            </p>
                        }
                        
                        <p class="govuk-body">
                            Enter the date shown on their employment contract.
                        </p>
                        <p class="govuk-body">
                            This is the date the apprentice joined @Model.OrganisationName and may be different to the apprenticeship start date.
                        </p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Are you applying for apprentices who you previously recruited under the Kickstart scheme?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p class="govuk-body">
                                    If you can prove that you recruited an apprentice under the Kickstart scheme, you can apply for these apprentices using their apprenticeship start date instead of the employment start date.
                                </p>
                            </div>
                        </details>

                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                We will stop payments and reclaim any funds paid for apprentices identified as ineligible.
                            </strong>
                        </div>

                        @for (var index = 0; index < Model.Apprentices.Count; index++)
                        {
                            var apprentice = Model.Apprentices[index];
                            <input value="@apprentice.ApprenticeshipId"
                                   id="ApprenticeshhipId-@apprentice.ApprenticeshipId"
                                   name="@EmploymentStartDatesRequest.ApprenticeshipIdsPropertyName"
                                   type="hidden" />

                            <h2 class="govuk-heading-m">@apprentice.FullName</h2>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <span>(ULN: @apprentice.Uln)</span><br />
                                <span>@apprentice.CourseName</span>
                            </p>

                            <div class="govuk-form-group">

                                <span class="govuk-hint">
                                    For example, 12 08 2020
                                </span>
                                @if (showError && Model.DateValidationResults.FirstOrDefault(x => x.Index == index) != null)
                                {
                                    <span class="govuk-error-message" id="employment-start-dates-error-@apprentice.ApprenticeshipId">
                                        <span class="govuk-visually-hidden">Error:</span> @Model.DateValidationResults.First(x => x.Index == index).ValidationMessage
                                    </span>
                                }
                                <div class="govuk-date-input">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="EmploymentStartDateDay">Day</label>
                                            <input value="@apprentice.EmploymentStartDateDay"
                                                   class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                   id="EmploymentStartDateDay-@apprentice.ApprenticeshipId"
                                                   name="@EmploymentStartDatesRequest.EmploymentStartDateDaysPropertyName"
                                                   type="number"
                                                   pattern="[0-9]*" />
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="EmploymentStartDateMonth">Month</label>
                                            <input value="@apprentice.EmploymentStartDateMonth"
                                                   class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                   id="EmploymentStartDateMonth-@apprentice.ApprenticeshipId"
                                                   name="@EmploymentStartDatesRequest.EmploymentStartDateMonthsPropertyName"
                                                   type="number"
                                                   pattern="[0-9]*" />
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group" sfa-validation-for="PersonInControlDobYear">
                                            <label class="govuk-label govuk-date-input__label" for="EmploymentStartDateYear">Year</label>
                                            <input value="@apprentice.EmploymentStartDateYear"
                                                   class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                   id="EmploymentStartDateYear-@apprentice.ApprenticeshipId"
                                                   name="@EmploymentStartDatesRequest.EmploymentStartDateYearsPropertyName"
                                                   type="number"
                                                   pattern="[0-9]*" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </fieldset>

                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Continue
                </button>
            </form>
        </div>
    </div>
</main>