@model SFA.DAS.EmployerIncentives.Web.ViewModels.Applications.ChooseOrganisationViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/payments/choose-organisation";
    ViewData["ZenDeskLabels"] = "";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-grid-column-two-thirds">
                <form asp-action="ChooseOrganisation" method="post">
                    @Html.AntiForgeryToken()

                    <partial name="ValidationSummary" />

                    <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    @Model.Title
                                </h1>
                            </legend>
                            @if (ViewData.ModelState.ContainsKey("LegalEntityNotSelected") && ViewData.ModelState["LegalEntityNotSelected"].Errors.Any())
                            {
                                <span id="changed-name-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @Model.LegalEntityNotSelectedMessage
                                </span>
                            }

                            <div class="govuk-radios">
                                @foreach (var organisation in Model.LegalEntities)
                                {
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="@organisation.AccountLegalEntityId" asp-for="Selected" name="Selected" type="radio" value="@organisation.AccountLegalEntityId">
                                        <label class="govuk-label govuk-radios__label" for="selected">
                                            @organisation.Name
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

