@model SFA.DAS.EmployerIncentives.Web.ViewModels.Applications.ViewApplicationsViewModel

@{
    ViewData["Title"] = Model.Title;
    //TODO: replace with new GA and ZD tags
    //ViewBag.GaData.Vpv = "/need-bank-details";
    //ViewData["ZenDeskLabels"] = "ei-addbankdetailsnow";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">@Model.Title</h1>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        When you'll get paid
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">You're eligible for the first payment after the apprentice completes 90 days of their apprenticeship training and the second payment after 365 days.</p>
                    <p class="govuk-body">Before we can make a payment, we need your training provider to confirm whether the apprentice is still on their apprenticeship. Training providers usually submit information about their apprentices at the start of every month.</p>
                    <p class="govuk-body">We'll start making payments from January 2021. It will take longer to get your first payment for any apprentices who start their training in August 2020.</p>
                </div>
            </details>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Your applications
                        </h2>
                    </legend>
                    <div class="govuk-tabs__panel" id="applications">
                        @if (Model.Applications.Any())
                        {
                            <table class="govuk-table das-table--condensed das-table--responsive-wide">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th aria-sort="none" scope="col" class="govuk-table__header">Apprentice name</th>
                                        <th aria-sort="ascending" scope="col" class="govuk-table__header">Application date</th>
                                        <th aria-sort="none" scope="col" class="govuk-table__header">Estimated payment</th>
                                        <th aria-sort="none" scope="col" class="govuk-table__header">Organisation</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var apprenticeApplication in Model.Applications)
                                    {
                                        <tr class="govuk-table__row">
                                            <td data-label="Apprentice name" class="govuk-table__cell">@apprenticeApplication.FirstName @apprenticeApplication.LastName</td>
                                            <td data-label="Application date" class="govuk-table__cell">@apprenticeApplication.ApplicationDate.ToShortDateString()</td>
                                            <td data-label="Estimated payment" class="govuk-table__cell">@apprenticeApplication.TotalIncentiveAmount</td>
                                            <td data-label="Organisation" class="govuk-table__cell">@apprenticeApplication.LegalEntityName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p class="govuk-body-l">No applications to display.</p>
                        }
                    </div>
                </fieldset>
            </div>
        </div>
    </div>


</main>