@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.TakenOnCannotApplyViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/apply/cannot-apply";
    ViewData["ZenDeskLabels"] = "ei-nocommitments";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @Model.Title
            </h1>
            <p class="govuk-body">
                @Model.OrganisationName can only apply for eligible apprentices with an employment start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 September 2021</span>, applications close on <span class="das-no-wrap">30 November 2021</span>.
                They must also have an apprenticeship start date from <span class="das-no-wrap"> 1 April 2021</span> to <span class="das-no-wrap">30 November 2021</span>.
            </p>
            <p class="govuk-body">
                In addition, @Model.OrganisationName can apply for apprentices with an employment start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 January 2022</span>, applications close on <span class="das-no-wrap">31 March 2022</span>.
                They must also have an apprenticeship start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 March 2022</span>.
            </p>
            <p class="govuk-body">
                If @Model.OrganisationName has apprentices who are eligible for this payment, they need to
                <a class="govuk-link" href="@Model.AddApprenticesUrl">
                    add them to their apprenticeship service account.
                </a>
            </p>
        </div>
    </div>
</main>