@using System.Globalization
@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.ApplicationConfirmationViewModel

@{
    var culture = new CultureInfo("en-GB");
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/apply/confirm-apprentices";
    ViewData["ZenDeskLabels"] = "ei-confirmapprentices";
}

@if (Model.HasIneligibleApprentices)
{
    <a asp-action="ConfirmApprenticeships" asp-route-all="true" asp-controller="ApplyApprenticeships" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" class="govuk-back-link">Back</a>
}
else
{
    <a asp-action="EmploymentStartDates" asp-controller="ApplyEmploymentDetails" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @Model.Title
            </h1>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                @{
                    var pluraliseApprentice = Model.Apprentices.Count() == 1 ? "apprentice" : "apprentices";
                }
                @Model.Apprentices.Count() @pluraliseApprentice
            </h2>
            <p class="govuk-body">
                @(Model.TotalPaymentAmount.ToString("C0", culture)) estimated total payment
            </p>

            <form asp-action="DisplayDeclaration" method="post">
                @Html.AntiForgeryToken()

                <table class="govuk-table govuk-!-margin-bottom-3">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Apprentice</th>
                            <th scope="col" class="govuk-table__header">Employment start date</th>
                            <th scope="col" class="govuk-table__header">Course</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var apprenticeship in Model.Apprentices)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    @apprenticeship.DisplayName
                                    <p class="govuk-body govuk-!-font-weight-regular das-!-color-dark-grey govuk-!-margin-bottom-0">ULN: @apprenticeship.Uln</p>
                                </th>
                                <td class="govuk-table__cell">
                                    @if (apprenticeship.EmploymentStartDate.HasValue)
                                    {
                                        @apprenticeship.EmploymentStartDate.Value.ToString("dd MMMM yyyy")
                                    }
                                </td>
                                <td class="govuk-table__cell">@apprenticeship.CourseName</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <p class="govuk-body govuk-!-margin-bottom-6">
                    <a asp-action="SelectApprenticeships" asp-controller="ApplyApprenticeships" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" class="govuk-link govuk-link--no-visited-state">
                        Change the apprentices you want to apply for
                    </a>
                </p>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Are you applying for apprentices who you previously recruited under the Kickstart scheme?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        If you can prove that you recruited an apprentice under the Kickstart scheme, you can apply for these apprentices using their apprenticeship start date instead of the employment start date.
                    </div>
                </details>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        We will stop payments and reclaim any funds paid for apprentices identified as ineligible.
                    </strong>
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                    Confirm
                </button>
            </form>
        </div>
    </div>
</main>
