@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.NewAgreementRequiredViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/apply/newagreementrequired";
    ViewData["ZenDeskLabels"] = "ei-newagreementrequired";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @Model.Title
            </h1>

            <p class="govuk-body">
                We’ve extended the application period for the hire a new apprentice payment.
            </p>

            <p class="govuk-body">
                To apply for apprentices with an apprenticeship start date from 1 February 2021, @Model.OrganisationName must accept a new employer agreement.
            </p>

            <p class="govuk-body">
                The version @Model.OrganisationName needs to accept depends on whether they accepted the agreement on or after 9 January 2020. If @Model.OrganisationName has:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>already accepted the 9 January 2020 agreement, they only need to accept a variation to it now</li>
                <li>not accepted the 9 January 2020 agreement yet, they need to accept the 9 January 2020 agreement as amended by the 20 August 2020 and 20 January 2021 variations</li>
            </ul>

            <a href="@Model.AccountsAgreementsUrl" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                View agreement
            </a>

            <p class="govuk-body">
                <a asp-action="SelectApprenticeships" asp-controller="ApplyApprenticeships" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" class="govuk-link govuk-link--no-visited-state">
                    Change the apprentices you want to apply for
                </a>
            </p>
        </div>
    </div>
</main>