@using System.Globalization
@model SFA.DAS.EmployerIncentives.Web.ViewModels.Apply.NotEligibleViewModel

@{
    var culture = new CultureInfo("en-GB");
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/apply/not-eligible";
    ViewData["ZenDeskLabels"] = "ei-not-eligible";
}
<a asp-action="EmploymentStartDates" asp-controller="ApplyEmploymentDetails" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                One or more apprentices are not eligible for the payment
            </h1>
            <p class="govuk-body">
                @Model.OrganisationName can only apply for eligible apprentices with an employment start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 September 2021</span>, applications close on <span class="das-no-wrap">30 November 2021.</span>
                <br />
                They must also have an apprenticeship start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 November 2021.</span>
            </p>
            <p class="govuk-body">
                In addition, @Model.OrganisationName can apply for apprentices with an employment start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 January 2022</span>, applications close on <span class="das-no-wrap">31 March 2022.</span>
                <br />
                They must also have an apprenticeship start date from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 March 2022.</span>
            </p>
            <p class="govuk-body">
                The following are not eligible for the payment:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                @foreach (var apprenticeship in Model.Apprentices)
                {
                    <li data-name="ineligible-apprenticeship">@apprenticeship.DisplayName (joined on <span class="das-no-wrap" name="ineligible-apprenticeship-start-date">@apprenticeship.EmploymentStartDate.Value.ToString("dd MMMM yyyy")</span>)</li>
                }
            </ul>
            <p class="govuk-body">
                They will be removed from the application. If you've noticed an error, you can <a asp-action="EmploymentStartDates" asp-controller="ApplyEmploymentDetails" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" class="govuk-link" data-linktype="noneligible-back">change the apprentice details</a>.
            </p>

                @if (Model.AllInEligible)
                {
                    <a asp-action="Index" asp-controller="Hub" asp-route-accountid="@Model.AccountId" asp-route-accountlegalentityid="@Model.AccountLegalEntityId" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-linktype="noneligible-cancel" id="cancelApplication">
                        Cancel application
                    </a>
                }
                else
                {
                    <a asp-action="ConfirmApprenticeships" asp-route-all="false" asp-controller="ApplyApprenticeships" asp-route-accountid="@Model.AccountId" asp-route-applicationid="@Model.ApplicationId" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-linktype="noneligible-continue" id="continueApplication">
                        Continue
                    </a>
                }
            </div>
        </div>
    </main>
