@using SFA.DAS.EmployerIncentives.Web.ViewModels.Cancel
@model ConfirmApprenticeshipsViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "/confirm-cancel-application";
    ViewData["ZenDeskLabels"] = "ei-confirm-cancel-apprentices";
}

<a asp-action="CancelApplication" asp-controller="Cancel" asp-route-accountId="@Model.AccountId" asp-route-accountLegalEntityId="@Model.AccountLegalEntityId" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                @Model.Title
            </h1>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                @{
                    var pluraliseApprentice = Model.ApprenticeshipIncentives.Count() == 1 ? "apprentice" : "apprentices";
                }
                @Model.ApprenticeshipIncentives.Count() @pluraliseApprentice
            </h2>

            <form asp-action="Cancelled" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.OrganisationName)

                <table class="govuk-table govuk-!-margin-bottom-3">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Apprentice</th>
                            <th scope="col" class="govuk-table__header">Apprenticeship start date</th>
                            <th scope="col" class="govuk-table__header">Course</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var apprenticeship in Model.ApprenticeshipIncentives)
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    @apprenticeship.DisplayName
                                    <p class="govuk-body govuk-!-font-weight-regular das-!-color-dark-grey govuk-!-margin-bottom-0">ULN: @apprenticeship.Uln</p>
                                </th>
                                <td class="govuk-table__cell">
                                    @apprenticeship.StartDate.ToString("MMMM yyyy")
                                </td>
                                <td class="govuk-table__cell">@apprenticeship.CourseName</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @foreach (var apprenticeship in Model.ApprenticeshipIncentives)
                {
                    <input id="cancel-apprenticeships-@apprenticeship.Id"
                           name="@SelectApprenticeshipsRequest.SelectedApprenticeshipsPropertyName"
                           type="hidden"
                           value="@apprenticeship.Id" />
                }

                <p class="govuk-body govuk-!-margin-bottom-6">
                    <a asp-action="CancelApplication" asp-controller="Cancel" asp-route-accountid="@Model.AccountId" asp-route-accountLegalEntityId="@Model.AccountLegalEntityId" class="govuk-link govuk-link--no-visited-state" data-linktype='cancel-change'>
                        Change apprentices
                    </a>
                </p>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Only cancel ineligible applications.  Don't cancel the application just because the apprentice has now stopped or finished the apprenticeship.
                    </strong>
                </div>

                <div class="govuk-warning-text">
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        If you cancel an application, @Model.OrganisationName will have to repay any payments that they’ve already received.
                    </strong>
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-buttontype="cancel-confirm">
                    Confirm
                </button>
            </form>
        </div>
    </div>
</main>
