@model SFA.DAS.EmployerIncentives.Web.ViewModels.HubPageViewModel
@{ 
    ViewData["Title"] = Model.Title;
}

@if (Model.HasMultipleLegalEntities)
{
    <a asp-action="GetChooseOrganisation" asp-controller="ApplyOrganisation" asp-route-accountid="@Model.AccountId" class="govuk-back-link">Back</a>
}
else
{ 
    <a href="@Model.AccountHomeUrl" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">
                @Model.OrganisationName
            </span>
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>

            <p class="govuk-body govuk-!-margin-bottom-6">

                @* CONDITIONAL BANK DETAILS BODY TEXT - START *@
                @if (true) {
                    <text>Apply for the payment and view @Model.OrganisationName's applications.</text>
                }
                else
                {
                    <text>Apply for the payment, view @Model.OrganisationName's applications and add bank details.</text>
                }
                @* CONDITIONAL BANK DETAILS BODY TEXT - END *@
                
            </p>
        </div>
    </div>

    <hr class="das-section-break das-section-break--l das-section-break--heavy-grey">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @* CONDITIONAL BANK DETAILS PANEL - START *@
            <div class="das-highlight das-highlight--featured govuk-!-margin-top-0 govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m das-highlight--featured__title govuk-!-margin-bottom-1">
                    Add @Model.OrganisationName's bank details
                </h2>
                <p class="govuk-body das-highlight--featured__body">
                    We'll need @Model.OrganisationName's bank details, so that we can send any hire a new apprentice payments.
                </p>
                <p class="govuk-body das-highlight--featured__body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
                    <a class="govuk-link das-link--white" href="#">Add bank details</a>
                </p>
            </div> 
            @* CONDITIONAL BANK DETAILS PANEL - END *@

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">
                        <a
                            asp-controller="Home"
                            asp-action="Start"
                            asp-route-accountid="@Model.AccountId"
                            asp-route-accountlegalentityid="@Model.AccountLegalEntityId"
                            class="govuk-link govuk-link--no-visited-state"
                        >
                            Apply for the hire a new apprentice payment
                        </a>
                    </h2>
                    <p class="govuk-body">
                        You can apply for the payment if @Model.OrganisationName hires new apprentices from 1 August 2020 to 31 March 2021
                    </p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">
                        <a
                            asp-controller="Payments"
                            asp-action="ListPaymentsForLegalEntity"
                            asp-route-accountid="@Model.AccountId"
                            asp-route-accountlegalentityid="@Model.AccountLegalEntityId"
                            class="govuk-link govuk-link--no-visited-state"
                        >
                            View applications
                        </a>
                    </h2>
                    <p class="govuk-body">
                        View @Model.OrganisationName's applications and estimated payments.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @* 
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">
                        <a
                            asp-controller="#"
                            asp-action="#"
                            asp-route-accountid="#"
                            asp-route-accountlegalentityid="@Model.AccountLegalEntityId"
                            class="govuk-link govuk-link--no-visited-state"
                        >
                            Amend details
                        </a>
                    </h2>
                    <p class="govuk-body">
                        Amend details...
                    </p>
                </div>
            </div>
        </div>
    </div>
    *@

</main>