@model SFA.DAS.EmployerIncentives.Web.ViewModels.Hub.HubPageViewModel
@{ 
    ViewData["Title"] = Model.Title;
}

@if (Model.HasMultipleLegalEntities)
{
    <a asp-action="GetChooseOrganisation" asp-controller="ApplyOrganisation" asp-route-accountid="@Model.AccountId" asp-route-selected="@Model.AccountLegalEntityId" class="govuk-back-link">Back</a>
}
else
{ 
    <a href="@Model.AccountHomeUrl" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper" id="main-content" role="main">
	<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
		<div class="govuk-notification-banner__header">
			<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				Important
			</h2>
		</div>
		<div class="govuk-notification-banner__content">
			<p class="govuk-notification-banner__heading">
				Your hire a new apprentice payments section will be removed after <span class="das-no-wrap">31 March 2025.</span>
				Applications for these payments closed in 2022.
			</p>
		</div>
	</div>
	<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">
                @Model.OrganisationName
            </span>
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>

            <p data-paragraphtype="hub-heading" class="govuk-body govuk-!-margin-bottom-6">
                @if (Model.ShowBankDetailsRequired)
                {
                    <text>View @Model.OrganisationName's applications or add their organisation and finance details.</text>
                }
                else
                {
                    <text>View @Model.OrganisationName's applications or change their organisation and finance details.</text>
                }
            </p>

            <div class="govuk-details__text govuk-!-margin-bottom-6">
                <p class="govuk-body">
                    Applications for the hire a new apprentice incentive payment closed on <span class="das-no-wrap">20 May 2022.</span> <br />
                    <a class="govuk-link" data-linktype="incentive-payment-guidance" href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/4403316291090-Incentive-payment-for-hiring-a-new-apprentice-view-your-application" target="_blank" rel="noopener">View guidance on incentive payments for hiring a new apprentice (opens in a new tab)</a>
                </p>
            </div>
            
        </div>
    </div>

    <hr class="das-section-break das-section-break--l das-section-break--heavy-grey">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (Model.ShowBankDetailsRequired)
            {
                <div class="das-highlight das-highlight--featured govuk-!-margin-top-0 govuk-!-margin-bottom-6">
                    <h2 class="govuk-heading-m das-highlight--featured__title govuk-!-margin-bottom-1">
                        Add @Model.OrganisationName's organisation and finance details
                    </h2>
                    <p class="govuk-body das-highlight--featured__body">
                        We cannot send any payments until we've received and verified @Model.OrganisationName's organisation and finance details. This could take up to 80 days and we may contact someone from @Model.OrganisationName.
                    </p>
                    <p class="govuk-body das-highlight--featured__body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
                        <a class="govuk-link das-link--white"
                           data-linktype="hub-add-bank-details"
                           asp-controller="BankDetails"
                           asp-action="AddBankDetails"
                           asp-route-accountid="@Model.AccountId"
                           asp-route-applicationid="@Model.BankDetailsApplicationId">Add organisation and finance details</a>
                    </p>
                </div>
            }
            
            @if (Model.ShowAcceptNewEmployerAgreement)
            {
                <div class="das-highlight das-highlight--featured govuk-!-margin-top-0 govuk-!-margin-bottom-6">
                    <h2 class="govuk-heading-m das-highlight--featured__title govuk-!-margin-bottom-1">
                        @Model.OrganisationName needs to accept a new employer agreement
                    </h2>
                    <p class="govuk-body das-highlight--featured__body">
                        @Model.OrganisationName has a hire a new apprentice payment that is not covered by the existing agreement. We cannot send these payments until someone from @Model.OrganisationName accepts a new agreement.
                    </p>
                    <p class="govuk-body das-highlight--featured__body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
                        <a class="govuk-link das-link--white" data-linktype="view-agreement" href="@Model.ViewAgreementLink">View agreement</a>
                    </p>
                </div>
            }

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">
                        <a asp-controller="Payments"
                           asp-action="ListPaymentsForLegalEntity"
                           asp-route-accountid="@Model.AccountId"
                           asp-route-accountlegalentityid="@Model.AccountLegalEntityId"
                           class="govuk-link govuk-link--no-visited-state"
                           data-linktype="hub-view-payments">
                            View applications
                        </a>
                    </h2>
                    <p class="govuk-body">
                        View @Model.OrganisationName's applications and estimated payments.
                    </p>
                </div>
                @if (Model.ShowAmendBankDetails)
                {
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m">
                            <a asp-controller="BankDetails"
                               asp-action="AmendBankDetails"
                               asp-route-accountid="@Model.AccountId"
                               asp-route-applicationId="@Model.BankDetailsApplicationId"
                               class="govuk-link govuk-link--no-visited-state"
                               data-linktype="hub-amend-bank-details">
                                Change organisation and finance details
                            </a>
                        </h2>
                        <p class="govuk-body">
                            Change @Model.OrganisationName's address, contact or bank account details.
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>

</main>