@model SFA.DAS.EmployerIncentives.Web.ViewModels.Home.BeforeYouStartViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "employer-incentives-before-start-page";
    ViewData["ZenDeskLabels"] = "ei-before-start";
}

<a asp-action="Index" asp-controller="Hub" asp-route-accountid="@Model.AccountId" asp-route-accountlegalentityid="@Model.AccountLegalEntityId" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>

            <p class="govuk-body">
                You'll need to:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>add the apprentices you want to apply for to your apprenticeship service account.</li>
                <li>know the employment start date and apprenticeship start date for each apprentice</li>
                <li>make sure the PAYE scheme for the apprentices is the same as the PAYE scheme registered on the employer account</li>
                <li>check the training provider has been given the correct National Insurance Number for each apprentice</li>
            </ul>

            @if (Model.BankDetailsRequired)
            {
                <p class="govuk-body">
                    You can add @Model.OrganisationName's organisation and finance details when you apply, or someone else from @Model.OrganisationName can add them later.  This includes @Model.OrganisationName's:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>legal name, registered address and contact details</li>
                    <li>Companies House number (if @Model.OrganisationName has one)</li>
                    <li>VAT number (if @Model.OrganisationName has one)</li>
                    <li>remittance email address</li>
                    <li>finance director or finance lead's contact details</li>
                    <li>bank account details</li>
                </ul>
            }

            @if (Model.NewAgreementRequired)
            {
                <p class="govuk-body">
                    If you’re applying for apprentices with an employment start date from 1 October 2021, @Model.OrganisationName needs to <a href="@Model.AccountsAgreementsUrl" class="govuk-link govuk-link--no-visited-state">sign a new employer agreement</a>.
                </p>
            }

            <a asp-action="Start" asp-controller="Home" asp-route-accountid="@Model.AccountId" asp-route-accountlegalentityid="@Model.AccountLegalEntityId" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button" data-linktype="before-apply-start">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>
        </div>
    </div>
</main>