@model SFA.DAS.EmployerIncentives.Web.ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewBag.GaData.Vpv = "employer-incentives-start-page";
    ViewData["ZenDeskLabels"] = "ei-start";
}

<a asp-action="Index" asp-controller="Hub" asp-route-accountid="@Model.AccountId" asp-route-accountlegalentityid="@Model.AccountLegalEntityId" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                @Model.Title
            </h1>

            <p class="govuk-body">
                Employers can apply for a payment of £3,000 for apprentices with an employment start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 September 2021</span>. Applications close on <span class="das-no-wrap">30 November 2021</span>.
            </p>
            <p class="govuk-body">
                Employers can apply for the payment after they add new apprentices to their apprenticeship service account.
            </p>

            <h2 class="govuk-heading-m">
                Eligibility
            </h2>

            <p class="govuk-body">
                The incentive payments can now be claimed as follows:
            </p>
            <p class="govuk-body">
                For apprentices with an employment start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 September 2021</span>, applications close on <span class="das-no-wrap">30 November 2021</span>. These apprentices must also have an apprenticeship start date from <span class="das-no-wrap">1 April 2021</span> to <span class="das-no-wrap">30 November 2021</span>.
            </p>
            <p class="govuk-body">
                Employers are also able to apply for new apprentices who they recruited under the Kickstart scheme.
            </p>

            <h2 class="govuk-heading-m">When you'll get paid</h2>
            <p class="govuk-body">
                We'll send the payment in 2 equal instalments for each apprentice. To be eligible, your apprentice must complete:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>90 days of their apprenticeship for your first payment</li>
                <li>365 days of their apprenticeship for your second payment</li>
            </ul>
            <p class="govuk-body">
                Once the apprenticeship information has been checked, we will process the payments.
            </p>
            <p class="govuk-body">
                Payments will be made on the 14th working day of the month, it can take up to 3 days for the payments to reach your account.
            </p>
            <p class="govuk-body">
                You can track when your payments are due to be paid on your view applications page.
            </p>
            <p class="govuk-body">
                We cannot send any payments until we've received and verified @Model.OrganisationName's organisation and finance details. This could take up to 80 days and we may contact someone from @Model.OrganisationName.
            </p>

            <h2 class="govuk-heading-m">What you can use the payment for</h2>

            <p class="govuk-body">
                @Model.OrganisationName can spend it on anything to support their organisation’s costs.  @Model.OrganisationName does not have to pay it back.
            </p>
            <p class="govuk-body">
                The payment is in addition to the existing £1,000 an employer will already get for taking on an apprentice who is either:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>aged 16 to 18 years old</li>
                <li>under 25 and has an education, health and care plan or has been in the care of their local authority</li>
            </ul>

            <h2 class="govuk-heading-m">
                Before you start
            </h2>

            <p class="govuk-body">
                You'll need to:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>add the apprentices you want to apply for to your apprenticeship service account</li>
                <li>know the employment start date and apprenticeship start date for each apprentice</li>
            </ul>

            @if (Model.BankDetailsRequired)
            {
                <p class="govuk-body">
                    You can add @Model.OrganisationName's organisation and finance details when you apply, or someone else from @Model.OrganisationName can add them later.  This includes @Model.OrganisationName's:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>legal name, registered address and contact details</li>
                    <li>Companies House number (if @Model.OrganisationName has one)</li>
                    <li>VAT number (if @Model.OrganisationName has one)</li>
                    <li>remittance email address</li>
                    <li>finance director or finance lead's contact details</li>
                    <li>bank account details</li>
                </ul>
            }

            @if (Model.NewAgreementRequired)
            {
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        If you're applying for apprentices with a start date from <span class="das-no-wrap">1 April 2021</span>, @Model.OrganisationName needs to <a href="@Model.AccountsAgreementsUrl" class="govuk-link govuk-link--no-visited-state">sign a new employer agreement</a>.
                    </strong>
                </div>
            }
            else
            {
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        Applications for apprentices hired from <span class="das-no-wrap">1 October 2021</span> to <span class="das-no-wrap">31 January 2022</span> are not open yet, you will not be able to apply for these apprentices until <span class="das-no-wrap">11 January 2022</span>.
                    </strong>
                </div>
            }

            <a asp-action="GetQualificationQuestion" asp-controller="ApplyQualification" asp-route-accountid="@Model.AccountId" asp-route-accountlegalentityid="@Model.AccountLegalEntityId" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                </svg>
            </a>
        </div>
    </div>
</main>