@using System.Security.Claims
@using SFA.DAS.EmployerIncentives.Web.Infrastructure

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var accounts = 
        User.Claims.Where(c => c.Type.Equals(EmployerClaimTypes.Account)).Select(c=>c.Value).ToList();
    
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            You've signed in
        </h1>

        <p>Id: @User.Claims.FirstOrDefault(c=>c.Type.Equals(ClaimTypes.NameIdentifier))?.Value</p>
        <p>Email: @User.Claims.FirstOrDefault(c=>c.Type.Equals(ClaimTypes.Email))?.Value</p>
        <p>UserId: @User.Claims.FirstOrDefault(c=>c.Type.Equals(EmployerClaimTypes.UserId))?.Value</p>
        <p>GivenName: @User.Claims.FirstOrDefault(c=>c.Type.Equals(EmployerClaimTypes.GivenName))?.Value</p>
        <p>FamilyName: @User.Claims.FirstOrDefault(c=>c.Type.Equals(EmployerClaimTypes.FamilyName))?.Value</p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Account ID</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var account in accounts)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@account</td>
                </tr>
            }
            </tbody>
        </table>
    
   
    </div>
</div>